*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(35, 0, 68);
}

.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  .containers{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
  }
}

@media (max-width: 960px) {
  .containers{
    flex-direction: column;
    min-width: 100%;
    gap: 20px;
  }
}